#footer-banner.full-width
  .container.footer
    #social-nav.eight.columns
      ul
        li: a.facebook(href="http://facebook.com/67burger" target="_blank") Facebook
        li: a.twitter(href="http://twitter.com/67burger" target="_blank") Twitter
        li: a.instagram(href="http://instagram.com/67burger" target="_blank") Instagram
    #newsletter.eight.columns
      p STAY UPDATED
      form(name="input", action="#", method="post")
        input(type="text", name="user" placeholder="you@example.com")
        input(type="submit", value="Submit")
