#footer-banner.full-width
.container.footer
  #social-nav.eight.columns
    ul
      li.facebook: a(href="http://facebook.com/67burger") Facebook
      li.twitter: a(href="http://twitter.com/67burger") Twitter
      li.instagram: a(href="http://instagram.com/67burger") Instagram
    p LET'S BE FRIENDS
  #newsletter
    p STAY UPDATED
