#footer-banner.full-width
  .container.footer.sixteen.columns
    #social-nav.eight.columns
      ul
        li: a.facebook(href="http://facebook.com/67burger" target="_blank") Facebook
        li: a.twitter(href="http://twitter.com/67burger" target="_blank") Twitter
        li: a.instagram(href="http://instagram.com/67burger" target="_blank") Instagram
    #newsletter.eight.columns
      p Stay Updated
      form(name="input", action="#", method="post")
        input(type="text", name="user" placeholder="you@example.com")
        input(type="submit", value="Submit")
    #info.sixteen.columns
      p.copyright &copy; 67 Burger. All rights reserved.
      p.credit
        | Website by
        | <a href="http://laurenchilcote.com" target="_blank">Lauren Chilcote</a>
        | &amp;
        |<a href="http://ifdifferent.com" target="_blank">ifDifferent Creative</a>
