.container
  h1#logo.six.columns.offset-by-five: a(href="/") 67 Burger
  #main-nav.sixteen.columns
    ul.menu-left.five.columns
      li: a(href="/menu.html") Menu
      li: a(href="/locations.html") Locations
    ul.menu-right.five.columns
      li: a(href="/about.html") About
      li: a(href="/press.html") Press
