doctype
html
  head
    meta(charset="utf-8")
    title #{ title } | Home
    meta(name="description" content="#{ description }")
    meta(name="keywords" content="#{ keywords }")
    meta(name="author" content="#{ author }")
    link(rel="stylesheet" href="/main.css")
  body
    != partial("_header")
    != yield
    != partial("_footer")
