.container
  .row
    .six.columns.food-pic
      img.scale-with-grid(src="/images/storefront.jpg")
    .ten.columns.about
      p 67 Burger is a burger joint. It's a burger joint with <span>heart</span>. And finesse. It's
        |also a place where you can get unpretentious, perfectly-cooked food, made with the best
        |ingredients, at a reasonable price, time after time. We pride ourselves on it. 67 Burger
        |wants you to be happy. Making you happy makes us happy. So, we make sure our menu has
        |plenty of options. Want a burger? Easy. We offer thirteen <span>artfully crafted</span>
        |styles of burger. Each one is made with grass-fed, grain-finished, all natural beef from
        |farms who are committed to responsibly-raising their meat. ground fresh daily and grilled
        |to desired temp. (Jeff has one everyday.) But, maybe that's not what you want. Maybe you
        |like designing your own burger, maybe you pride yourself on being a burger artiste. So, we
        |have eight different kinds of cheese and 18 other toppings all at your disposal because
        |you know how to design your perfect burger.
  .row
    .ten.columns.about
      p Not in the mood for a burger? Maybe you're a <span>vegetarian</span>? There's CHICKEN. And
        |TURKEY. And TOFU. And VEGGIE PATTIES. All available with the same toppings as the burgers,
        |all there to make you happy. Seriously. We have SALADS. Fresh, crisp, and
        |<span>healthy</span> salads that are tasty, satisfying and not even remotely an afterthought.
        |Yes, we're a burger place, but we just want you to
        |be happy. So, if you want a salad, we're going to make you a salad. And, we're going to make
        |sure it's delicious. (Ed eats these all the time.) The easiest way to make you happy?
        |Probably <span>milkshakes</span>. We even figured out a way to put beer in ours. Result? Smiles abound.
    .six.columns.food-pic
      img.scale-with-grid(src="/images/graffiti.jpg")
