.container
  #delivery-details.sixteen.columns
    h1 Delivery
    h5 Available from our Park Slope location
    p Enjoy the full 67 Burger menu in the comfort of your own home.
    p Delivery is fast, friendly, and free!
    p Give us a ring at <span>#{ locations.park_slope.phone }</span> or order online.
    #order.four.columns
      a.order(href="#") Order Online
  p.minimum $13 minimum applies - See delivery zone below
  img.scale-with-grid(src="/images/deliverymap.jpg")
