@import (inline) "base.css";
@import (inline) "skeleton.css";
@import "footer.less";

@background:#ffffff;
@text: #000000;
@burger-brown: #461c0d;
@burger-orange: #ff6633;
@burger-blue: #00adee;
@burger-green:#9fd105;

body{
  background: @background;
  color: @text;
  font-family: "Helvetica";
  font-size: 14px;
  text-align: center;
  margin: 0;
}

#carousel{
  background: red;
  height: 425px;
  margin-bottom: 50px;
}
.three.columns.special {
  background: blue;
  width: 200px;
  height: 165px;
}
#order{
  background: @burger-blue;
  height: 80px;
  margin-bottom: 50px;
  border-radius: 10px;
}
a.order {
  color:#ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: .025em;
  position: relative;
  top: 36%;
}
.address{
  height: 120px;
  margin-bottom: 20px;
    h4 {
      color: @burger-orange;
    }
    p {
      font-size: 16px;
    }
}
.address.greene {
  border-bottom: 2px dotted @burger-brown;
}
.address.slope {
  margin-top: 38px;
}
.delivery {
  color: @burger-blue;
  text-decoration: none;
  text-transform: uppercase;
}
.zagat {
  background:orange;
  height: 165px;
  margin-top: 50px;
}
#logo {
  margin: 0 auto;
  position: relative;
  top: 58px;
}
#main-nav {
  border-top: 4px solid @burger-brown;
  border-bottom: 4px solid @burger-brown;
  padding: 20px 0;
  margin-bottom: 50px;
}
#main-nav ul {
  margin-bottom: 0;
    li {
      float: left;
      margin-bottom: 0;
    }
    a {
      text-transform: uppercase;
      text-decoration: none;
      color: @burger-brown;
      padding: 0 30px;
      font-size: 18px;
    }
}
#main-nav ul.menu-left {
  float: left;
}
#main-nav ul.menu-right {
  float: right;
}
