@import (inline) "base.css";
@import (inline) "skeleton.css";
@import "footer.less";

@background:#ffffff;
@text: #000000;
@burger-brown: #663300;
@burger-orange: #ff6633;
@burger-blue: #00adee;
@burger-green:#9fd105;

//Basic Styles
body{
  background: @background;
  color: @burger-brown;
  font-family: "Helvetica";
  font-size: 14px;
  text-align: center;
  margin: 0;
  border: 10px solid @burger-brown;
}
a, a:visited {
  color: @burger-brown;
}
a:hover, a:focus {
  color: @burger-brown;
}
p {
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  color: @burger-brown;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
}
.full-width {
  width: 100%;
}

//Homepage
#header-banner {
  border-bottom: 10px solid @burger-brown;
  margin-bottom: 35px;
  height: 83px;
}
#main-nav {
  position: relative;
  top: -45px;
}
#main-nav ul {
  margin-bottom: 0;
    li {
      float: left;
      margin-bottom: 0;
    }
    a {
      text-transform: uppercase;
      text-decoration: none;
      color: @burger-brown;
      margin: 0 24px;
      padding: 0 0 3px 0;
      font-size: 18px;
      font-weight: bold;
    }
}
#main-nav ul li.active a {
  //color: @burger-orange;
  border-bottom: 2px dotted @burger-brown;
}
#main-nav ul.menu-left {
  float: left;
}
#main-nav ul.menu-right {
  float: right;
}
h1{
  line-height: 83px;
}
#logo {
  margin-bottom: 0;
    a{
      background:url(/images/67_burger_logo.png) no-repeat;
      text-indent: -9999px;
      float: right;
      width:100%;
    }
}
#carousel{
  height: 425px;
  margin-bottom: 20px;
}
.four.columns.special {
  background: #bababa;
  width: 200px;
  height: 165px;
}
#order{
  background: @burger-blue;
  height: 70px;
  margin-bottom: 40px;
  border-radius: 10px;
}
a.order {
  color:#ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: .025em;
  position: relative;
  top: 39%;
}
.address{
    h4 {
      color: @burger-orange;
    }
    p {
      font-size: 16px;
      margin-top: 10px;
    }
    a {
      font-size: 16px;
      text-decoration: none;
      display: block;
    }
}
.address.greene {
  border-bottom: 2px dotted @burger-brown;
  padding-bottom: 38px;
}
.address.slope {
  margin-top: 38px;
}
.delivery {
  color: @burger-blue;
  text-decoration: none;
  text-transform: uppercase;
}
.zagat {
  height: 165px;
  margin-top: 66px;
}
//Footer
#footer-banner {
  background: @burger-brown;
  padding: 30px 0;
  margin-top: 35px;
}
.footer p{
  float:left;
  color: #ffffff;
  font-size:16px;
  margin-top: 21px;
  margin-left: 20px;
  font-weight:bold;
}
#social-nav ul {
  float: left;
  margin-bottom:0px;
    li {
  display: inline;
    }
    a {
      background:url(/images/social-icons.png);
      text-indent: -9999px;
      width: 52px;
      height: 52px;
      float: left;
      margin-right: 14px;
    }
}
#social-nav ul li a.facebook {
  background-position: 0px 0px;
}
#social-nav ul li a.twitter {
  background-position: 106px 0px;
}
#social-nav ul li a.instagram {
  background-position: 52px 0px;
}
#newsletter {
  float: right;
}
form {
  margin-bottom: 0;
  padding-top: 10px;
  float: right;
}
input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		border: 1px solid #ccc;
		padding: 9px 4px;
		outline: none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		font: 14px;
		color: @burger-brown;
		width: 185px;
		max-width: 100%;
		display: inline;
		margin: 3px 10px 0 0;
		background: #fff;
}
input[placeholder] {
  padding-left:10px;
}
.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		background: @burger-blue;
	  border: 0;
	  border-top: 0;
	  border-left: 0;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  border-radius: 3px;
	  color: #ffffff;
	  font-size: 13px;
	  font-weight: bold;
    letter-spacing: .07em;
    text-transform: uppercase;
	  text-decoration: none;
	  text-shadow: none;
	  padding: 10px 12px;
    float: right;
}
.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		color: #ffffff;
		background: @burger-blue;
	  border: 0;
	  border-top: 0;
	  border-left: 0;
}
	.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
		border: 0;
		background: @burger-blue;
}
//Locations Page
.map {
  background: #bababa;
  height: 400px;
}
.directions {
  margin-top: 20px;
    h5 {
      color: @burger-blue;
      font-weight:bold;
    }
}
.address{
    h4 {
      color: @burger-orange;
    }
    p {
      font-size: 16px;
      margin-top: 10px;
    }
    a {
      font-size: 16px;
      text-decoration: none;
      display: block;
    }
}
.locations {
  margin-bottom:20px;
}
#right-location {
  margin-left: 50px;
  padding-left: 60px;
  border-left: 2px dotted @burger-brown;
}
#delivery-restrictions {
  margin-top: 30px;
    h5 {
      color: @burger-orange;
      font-style: italic;
    }
}
.food-pic {
  background: #bababa;
  height: 220px;
}
.about p {
  text-align: left;
}
.twelve.columns.about p span {
  color: @burger-blue;
  font-weight:bold;
}
