.container
  .category.sixteen.columns
    .heading.eight.columns.offset-by-four
      h1.hide-text Burgers
      img.scale-with-grid(src="/images/burgers.png" alt="Burgers")
      h5 Made to order, while you wait!
      p All burgers come on a toasted sesame bun with fresh tomatoes, whole leaf lettuce, and thick
        |crinkle-cut garlic pickles.
  .section.sixteen.columns
    .ribbon
      img.scale-with-grid(src="/images/ribbon.png")
      h5 Choose a patty
    .row.sixteen.columns
      .option.three.columns.alpha
        h3 Hamburger
        p.description Grass-fed, grain-finished, ground fresh daily
        p.price $6.75
      .option.three.columns
        h3 Turkey
        p.description 100% lean white meat ground turkey breast
        p.price $6.75
      .option.three.columns
        h3 Chicken
        p.description Thin cutlets grilled and stacked
        p.price $6.75
      .option.three.columns
        h3 Veggie
        p.description Soy-based, with whole vegetables
        p.price $6.75
      .option.three.columns.omega
        h3 Tofu
        p.description Marinated, extra-firm, and flame grilled
        p.price $6.75
  .section.stacked.sixteen.columns
    .ribbon
      img.scale-with-grid(src="/images/ribbon.png")
      h5 Either we build it...
    .row.sixteen.columns
      .option.three.columns.alpha
        h3 The 67 Burger
        p.description creamy blue cheese and crispy bacon
        p.price $9.25
      .option.three.columns
        h3 Cheeseburger
        p.description Your choice of cheese <br />
          | add bacon <span>+</span> $1.75
        p.price $7.50
      .option.three.columns
        h3 The Western
        p.description Your choice of cheese and BBQ braised onions
        p.price $8.50
      .option.three.columns
        h3 The Cajun
        p.description A secret mix of herbs and spices
        p.price $7.25
      .option.three.columns.omega
        h3 The Goat
        p.description creamy goat cheese and red wine pickled onions
        p.price $8.50
  .section.stacked.sixteen.columns
    .row.sixteen.columns
      .option.three.columns.alpha
        h3 The Ranch
        p.description Ranch dressing, home-made crispy onions, and your choice of cheese
        p.price $9.00
      .option.three.columns
        h3 The Italian
        p.description Fresh basil pesto (with pinenuts) and shaved parmesan
        p.price $8.50
      .option.three.columns
        h3 The Greek
        p.description Feta cheese, olive tapenade, and crispy artichokes
        p.price $9.25
      .option.three.columns
        h3 The Cheese Lover's
        p.description Pepper jack, cheddar, and swiss
        p.price $8.25
      .option.three.columns.omega
        h3 The Parisian
        p.description White wine sauteed onions and mushrooms with dijonaise
        p.price $8.25
  .section.sixteen.columns
    .row.sixteen.columns
      .option.three.columns.alpha
        h3 The Southwestern
        p.description Homemade chipotle mayo, roasted peppers, tomatoes, scallions, and papper jack cheese
        p.price $9.00
      .option.three.columns
        h3 The <br />Pastrami
        p.description Beef or chicken with pastrami seasonings, sauerkraut, swiss and <br />
          | mustard on a pretzel bun
        p.price $10.00
      .option.three.columns
        h3 The <br />Oaxaca
        p.description Fresh avocado slices, homemade chipotle<br />
          | mayo, cajun spices, and cheddar cheese
        p.price $10.00
      .sides.six.columns
        img.one.column.alpha.left.scale-with-grid(src="/images/arrow-left.png")
        h1.four.columns Sides
        img.one.column.omega.right.scale-with-grid(src="/images/arrow-right.png")
        div
          .three.columns.alpha
            p French Fries $2.95
            p Curly Fries $3.95
            p Sweet Potato Fries $3.95
          .three.columns.omega
            p Beer-Battered Onion Rings $4.50
            p Add Cajun Spices $0.50
  .section.sixteen.columns
    .ribbon
      img.scale-with-grid(src="/images/ribbon.png")
      h5 Or you build it...
    .row.sixteen.columns
      .buildyourown.option.three.columns.alpha.no-border
        h3 Toppings
        p Bacon 1.75
        p Avocado 1.50
        p Crispy Onions 1.00
        p Crispy Artichokes 1.00
        p Pesto 1.00
        p Red Wine Pickled Onions 1.00
      .buildyourown.option.three.columns
        p Sauteed Onions .75
        p BBQ Braised Onions .75
        p Sauteed Mushrooms .75
        p Jalapenos .75
        p Roasted Peppers .75
        p Olive Tapenade .75
        p Sauerkraut .75
        p Cajun Spice .50
        p Dijonaise .50
      .buildyourown.dipping.option.three.columns
        h3 Dipping Sauces
        p Ranch .50
        p Blue Cheese .50
        p Honey Mustard .50
        p Chipotle Mayo .50
        p BBQ .50
      .buildyourown.option.three.columns.no-border
        h3 Cheese
        p American .75
        p Cheddar .75
        p Swiss .75
        p Pepper Jack .75
        p Blue Cheese .75
      .buildyourown.option.three.columns.omega
        p Feta .75
        p Parmesan .75
        p Goat .75
        p Mozzarella .75
  .category.sixteen.columns
    .heading.eight.columns.offset-by-four
      h1.hide-text Salads
      img.scale-with-grid(src="/images/salads.png" alt="Salads")
  .section.stacked.sixteen.columns
    .ribbon
      img.scale-with-grid(src="/images/ribbon.png")
      h5 Made fresh
    .row.sixteen.columns
      .option.three.columns.alpha
        h3 House
        p.description Mixed greens, garbanzo & kidney beans, fresh tomatoes, black olives
        p.price sm $6.75
        p.price lg $6.50
      .option.three.columns
        h3 Cobb
        p.description Romaine, grilled chicken, crispy bacon, avocado, fresh tomatoes, and blue
          | cheese
        p.price $10.00
      .option.three.columns
        h3 Caesar
        p.description Romaine, fresh tomatoes, shaved parmesan, <br />and <br />croutons
        p.price $7.00
      .option.three.columns
        h3 Spicy Chicken
        p.description Romaine, spicy grilled chicken, carrots, fresh tomatoes, scallions, and blue
          | cheese
        p.price $9.25
      .option.three.columns.omega
        h3 Thai Chicken
        p.description Mixed greens, grilled chicken, carrots, fresh tomatoes, pickled cucumbers,
          | & scallions
        p.price $9.75
  .section.sixteen.columns
    .row.sixteen.columns
      .option.three.columns.alpha
        h3 Goat Cheese
        p.description Mixed greens, fresh tomatoes, roasted red peppers, goat cheese, and crispy
          | onions
        p.price $8.75
      .option.three.columns
        h3 Greek
        p.description Romaine, grilled chicken, crispy artichokes, feta cheese, fresh tomatoes, and
          | black olives
        p.price $10.00
      .option.chicken.three.columns
        p Add chicken to any salad <br /><span>+ $2.00</span>
      .dressings.six.columns
        h3 Dressings
        div
          .three.columns.alpha
            p House-made Blue Cheese, Ranch, or Honey Mustard
          .three.columns.omega
            p Balsamic<br /> Thai Sesame<br /> Caesar<br /> Italian
  .category.row.sixteen.columns
    .kids.eight.columns.alpha
      .heading.eight.columns
        h1 Kid's Menu
        p Served with curly fries and pickles
        p <span>Substitutions please add .75</span>
      .section.eight.columns
          .option.four.columns.alpha
            h3 Chicken Tenders
            p.price $6.75
            h3 Hamburger
            p.price $6.25
            h3 Cheeseburger
            p.price $6.75
          .option.four.columns.omega
            h3 Hot Dog
            p.price $5.75
            h3 Chicken Sandwich
            p.price $6.75
            h3 Grilled Cheese
            p.description (white or wheat)
            p.price $5.75
    .drinks.eight.columns.omega
      .heading.eight.columns
        img.one.column.alpha.left.scale-with-grid(src="/images/arrow-left.png")
        h1.five.columns Drinks
        img.one.column.omega.right.scale-with-grid(src="/images/arrow-right.png")
      .section.eight.columns
        .option.four.columns.alpha
          h3 Fountain Sodas $2.50
          p Cola - Diet Cola - Orange - Stewart's Root Beer - 7-Up - Dr. Pepper - Unsweetened Iced
            | Tea - Lemonade - Fruit Punch
          h3 Free Refills
          p On fountain drinks!
        .option.four.columns.omega
          h3 Bottled Sodas $2.50
          p Boylan's Diet Root Beer - Grape - Ginger Ale - Creme
          h3 Bottled Water $1.75
          h3 Apple Juice $1.25
          h3 Chocolate Milk $1.75
  .category.row.sixteen.columns
    .frozen.nine.columns.alpha
      .heading.nine.columns
        h1.hide-text Frozen Treats
        img.scale-with-grid(src="/images/frozentreats.png" alt="Frozen Treats")
      .section.nine.columns
        .option.three.columns.alpha
          h3 Milkshakes
          p.description Vanilla - Black & White - Chocolate Bacon ($7) - Coffee - Strawberry -
            | Mint Chocolate - Mint - Oreo - Mint Oreo
          p.price $6.00
        .beer-shake.option.three.columns
          h3 Beer Milkshakes
          p.description Vanilla ice cream <br />with Kelso <br />(or seasonal beer)
          p.price $6.00
        .option.three.columns.omega
          h3 Floats
          p.description Ice cream + your choice of soda
          p.price $6.00
    .alcohol.five.columns.offset-by-one.omega
      .heading.five.columns
        h1.hide-text Beer & Wine
        img.scale-with-grid(src="/images/beerandwine.png" alt="Beer and Wine")
        p.price $6.00
