.container
  #burgers.sixteen.columns
    .heading.eight.columns.offset-by-four
      h1 Burgers
      h5 Made to order, while you wait!
      p All burgers come on a toasted sesame bun with fresh tomatoes, whole leaf lettuce, and thick
        |crinkle-cut garlic pickles.
  .section.sixteen.columns
    h5 Choose a patty
    .row.sixteen.columns
      .option.three.columns.alpha
        h5 Hamburger
        p.description Grass-fed, grain-finished, ground fresh daily
        p.price $6.75
      .option.three.columns
        h5 Turkey
        p.description 100% lean white meat ground turkey breast
        p.price $6.75
      .option.three.columns
        h5 Chicken
        p.description Thin cutlets grilled and stacked
        p.price $6.75
      .option.three.columns
        h5 Veggie
        p.description Soy-based, with whole vegetables
        p.price $6.75
      .option.three.columns.omega
        h5 Tofu
        p.description Marinated, extra-firm, and flame grilled
        p.price $6.75
  .section.sixteen.columns
    h5 Either we build it...
    .row.sixteen.columns
      .option.three.columns.alpha
        h5 The 67 Burger
        p.description creamy blue cheese and crispy bacon
        p.price $9.25
      .option.three.columns
        h5 Cheeseburger
        p.description Your choice of cheese
        p.description add bacon <span>+</span> $1.75
        p.price $7.50
      .option.three.columns
        h5 The Western
        p.description Your choice of cheese and BBQ braised onions
        p.price $8.50
      .option.three.columns
        h5 The Cajun
        p.description A secret mix of herbs and spices
        p.price $7.25
      .option.three.columns
        h5 The Goat
        p.description creamy goat cheese and red wine pickled onions
        p.price $8.50
