.container
  .row
    .four.columns.press
      .press-pic
      a(href="/press.html") SOURCE
      p "Quote from review."
    .four.columns.press
      .press-pic
      a(href="/press.html") SOURCE
      p "Quote from review."
    .four.columns.press
      .press-pic
      a(href="/press.html") SOURCE
      p "Quote from review."
    .four.columns.press
      .press-pic
      a(href="/press.html") SOURCE
      p "Quote from review."
  .row
    .four.columns.press
      .press-pic
      a(href="/press.html") SOURCE
      p "Quote from review."
    .four.columns.press
      .press-pic
      a(href="/press.html") SOURCE
      p "Quote from review."
    .four.columns.press
      .press-pic
      a(href="/press.html") SOURCE
      p "Quote from review."
    .four.columns.press
      .press-pic
      a(href="/press.html") SOURCE
      p "Quote from review."
  .row
    .four.columns.press
      .press-pic
      a(href="/press.html") SOURCE
      p "Quote from review."
    .four.columns.press
      .press-pic
      a(href="/press.html") SOURCE
      p "Quote from review."
    .four.columns.press
      .press-pic
      a(href="/press.html") SOURCE
      p "Quote from review."
    .four.columns.press
      .press-pic
      a(href="/press.html") SOURCE
      p "Quote from review."
