.container
  .row
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/1cbs.png")
      a(href="http://newyork.cbslocal.com/top-lists/nycs-7-best-healthy-plates-under-600-calories/") CBS New York
      p 2013
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/2thereader.png")
      a(href="http://www.psreader.com/issue/42/new-wave/new-kids-on-the-block/") Park Slope Reader
      p 2012
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/3devour.png")
      a(href="http://www.devourthecity.com/2012/10/67-burger.html") Devour
      p 2012
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/4brooklynpaper.png")
      a(href="http://www.brooklynpaper.com/stories/35/10/all_burgerproliferation_2012_03_09_bk.html") Brooklyn Paper
      p 2012
  .row
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/5nymenugirl.png")
      a(href="http://www.thenycmenugirl.com/2012/09/revisiting-again-67-burger.html") NYC Menu Girl
      p 2012
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/6brooklynbounty.png")
      a(href="http://brooklynbounty.org/2012/10/03/67burger-a-better-brooklyn-burger/") Brooklyn Bounty
      p 2012
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/7thelocal.png")
      a(href="http://fort-greene.thelocal.nytimes.com/2012/03/28/everything-in-this-picture-%E2%80%94-for-20/") The Local
      p 2012
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/8zagat.png")
      a(href="/press.html") Zagat
      p 2011
  .row
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/9burgerconquest.png")
      a(href="/press.html") Burger Conquest
      p 2011
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/10grubstreet.png")
      a(href="/press.html") Grub Street
      p 2009
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/11thelocal.png")
      a(href="/press.html") The Local
      p 2009
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/12zagat.png")
      a(href="/press.html") Zagat
      p 2009
  .row
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/13nymag.png")
      a(href="http://nymag.com/listings/restaurant/67-burger/") New York Magazine
      p 2009
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/14nytimes.png")
      a(href="http://events.nytimes.com/2008/09/03/dining/reviews/03under.html?scp=16&sq=burger&st=cse&_r=0") The New York Times
      p 2008
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/15timeout.png")
      a(href="http://www.timeout.com/newyork/eating-drinking/life-of-the-patty") TimeOut
      p 2008
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/16zagat.png")
      a(href="/press.html") Zagat
      p 2008
  .row
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/17ahamburgertoday.png")
      a(href="http://aht.seriouseats.com/archives/2008/05/67-burger-fort-greene-brooklyn-new-york-city-nyc.html") Serious Eats
      p 2008
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/18hamburgeramerica.png")
      a(href="http://hamburgeramerica.blogspot.com/2008/03/finally-made-it-to-67-burger.html") Hamburger America
      p 2008
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/19thevillagevoice.png")
      a(href="http://www.villagevoice.com/2007-01-30/restaurants/beefin-burgers/") The Village Voice
      p 2007
    .four.columns.press
      img.press-pic.scale-with-grid(src="/images/20nysun.png")
      a(href="http://www.nysun.com/food-drink/battle-of-the-burgers/47326/") NY Sun
      p 2007
